/* common */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

section {
  padding: 50px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* accordion */
.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.accordion-list-item {
  position: relative;
  transition: all 500ms linear;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  background-color: white;
  display: none;
  padding: 20px;
  overflow: hidden;
}
.panel.active {
  display: block;
}
